body, .reveal .slides {
  width: 297mm !important;
}

.reveal .slides section {
  top: 5mm !important;
  left: 5mm !important;
  overflow: visible !important;
}

.reveal .slides section.slide {
  width: 135mm !important;
  min-width: 135mm !important;
  height: 105mm !important;
  min-height: 105mm !important;
  font-size: 0.5em;
  border: 1mm solid #eee;
}

.reveal section.stack {
  width: auto !important;
  min-width: auto !important;
  height: auto !important;
  min-height: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  page-break-after: avoid !important;
  border: none;
}

.reveal aside.notes {
  display: block;
  position: absolute;
  top: 5mm;
  left: 140mm;
  width: 145mm;
  height: 200mm;
  text-align: left;
  font-size: 16px;
}

/* reduce margins in notes */

.reveal aside.notes h1, .reveal aside.notes h2, .reveal aside.notes h3, .reveal aside.notes h4, .reveal aside.notes h5, .reveal aside.notes h6 {
  margin: 0 0 5px 0;
}
.reveal aside.notes p {
  margin: 5px 0
}
.reveal aside.notes pre {
  margin: 5px;
  font-size: 0.66em; /* bigger code, as 0.55*16px is smaaaaal */
}

/* merge with next/prev slide */
/* vertical stack * /
.reveal section.merge-next {
  page-break-after: avoid !important;
  margin-bottom: 5mm !important;
}
.reveal section.merge-prev {
}
/* horizontal stack */
.reveal section.merge-next {
  page-break-after: avoid !important;
}
.reveal section.merge-prev {
  left: 145mm !important;
  top: -100mm !important;
}
/**/

/* remove background until positionning is fixed */
.backgrounds,
.slide-background {
  background-image: none !important;
}
